## Ejemplo 4: Concat con Series

### 1. Objetivos:
    - Usar pd.concat para concatenar `Series`
 
---
    
### 2. Desarrollo:

Muchas veces vamos a tener `Series` o `DataFrames` que queremos unir en una sola estructura. Para eso podemos usar `pd.concat`. Concatenando `Series`, podemos hacer lo siguiente:

In [1]:
import pandas as pd

In [6]:
serie_1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
serie_2 = pd.Series([49, 15, 62], index=['x', 'y', 'z'])

In [7]:
# axis = 0, significa que pegará el segundo debajo del primero
pd.concat([serie_1, serie_2], axis=0)

a     1
b     2
c     3
x    49
y    15
z    62
dtype: int64

In [8]:
# podria pegar una tercera serie
serie_3 = pd.Series([34,55], index=['f', 'g'])
pd.concat([serie_1, serie_2,serie_3], axis=0)

a     1
b     2
c     3
x    49
y    15
z    62
f    34
g    55
dtype: int64

También podemos concatenar horizontalmente:

In [9]:
# cuando ponemos axis = 1 pegamos hacia los lados
pd.concat([serie_1, serie_2], axis=1)

     0     1
a  1.0   NaN
b  2.0   NaN
c  3.0   NaN
x  NaN  49.0
y  NaN  15.0
z  NaN  62.0

In [11]:
serie_2bis = pd.Series([49, 15, 62], index=['a', 'b', 'c'])
pd.concat([serie_1, serie_2bis], axis=1)

   0   1
a  1  49
b  2  15
c  3  62

Podemos nombrar nuestras columnas para saber cuál era cuál:

In [12]:
# se hace con el argumento keys
pd.concat([serie_1, serie_2], axis=1, keys=['serie_1', 'serie_2'])

   serie_1  serie_2
a      1.0      NaN
b      2.0      NaN
c      3.0      NaN
x      NaN     49.0
y      NaN     15.0
z      NaN     62.0

In [13]:
pd.concat([serie_1, serie_2bis], axis=1, keys=['mi_primera', 'mi_segunda'])

   mi_primera  mi_segunda
a           1          49
b           2          15
c           3          62

Esto pasa si concatenamos horizontalmente usando el mismo índice:

In [15]:
# la serie 3 coincide en índices con la serie 1
serie_3 = pd.Series([7, 8, 9], index=['a', 'b', 'c'])

pd.concat([serie_1, serie_3], axis=1, keys=['serie_1', 'serie_3'])

   serie_1  serie_3
a        1        7
b        2        8
c        3        9

Si concatenamos verticalmente dos `Series` que comparten el índice, tenemos el problema de no poder diferenciar los índices:

In [16]:
# Upsss! No vamos a poder diferenciar los índices
pd.concat([serie_1, serie_3], axis=0)

a    1
b    2
c    3
a    7
b    8
c    9
dtype: int64

A veces queremos esto, pero cuando no, podemos agregar un segundo nivel de índice para hacer la diferencia:

In [17]:
#¿Cómo se hace eso?
# con el argumento keys
pd.concat([serie_1, serie_3], axis=0, keys=['mi_primer', 'mi_tercer'])

mi_primer  a    1
           b    2
           c    3
mi_tercer  a    7
           b    8
           c    9
dtype: int64

Esto se llama un `Multiíndice`. Podemos acceder a un `multiíndice` en un solo nivel o en ambos:

In [18]:
# Hice lo mismo que arriba, pero lo guardé en un objeto
series_concat = pd.concat([serie_1, serie_3], axis=0, keys=['serie_1', 'serie_3'])

In [19]:
series_concat

serie_1  a    1
         b    2
         c    3
serie_3  a    7
         b    8
         c    9
dtype: int64

In [21]:
# quiero acceder a todo el índice serie_1
# Recordatorio: uso la función loc
series_concat.loc['serie_1']

a    1
b    2
c    3
dtype: int64

In [22]:
# si quiero el índice serie_1, subíndice b
# se lo meto vía ()
series_concat.loc[('serie_1', 'b')]

2

In [24]:
series_concat.loc[('serie_3', 'b')]

8