## Ejemplo 1: Funciones vectorizadas con `Series`

### 1. Objetivos:
    - Aprender cómo usar Funciones vectorizadas aplicadas a `Series` de Pandas
 
---
    
### 2. Desarrollo:

Tenemos la siguiente Serie:

In [1]:
import pandas as pd #usamos el alias pd no por regla
# pero sí por uso y costumbre

In [2]:
# Definimos una serie a partir de una lista
# i.e. usamos la función pd.Series
serie_1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [3]:
serie_1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

* Recuerdas cómo utilizamos `map` para aplicar una función elemento por elemento a un arreglo.

* Podemos utilizar funciones vectorizadas para hacer esto mismo con Series y DataFrames de pandas. Esto resulta sumamente eficiente pues pandas está construido para funcionar de esta manera.

* Primero que nada, veamos cómo es posible aplicar operaciones aritméticas a Series de pandas y son aplicadas elemento por elemento. Por ejemplo:

In [4]:
# Primer ejemplo: Sumar entrada a entrada
# sumo 10 a cada uno de los elementos de serie_1
serie_1 + 10

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
dtype: int64

In [5]:
# También se puede hacer con multiplicación
serie_1 * 10

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [6]:
# Se puede combinar suma y producto
(serie_1 + 10) * 100

0    1100
1    1200
2    1300
3    1400
4    1500
5    1600
6    1700
7    1800
8    1900
9    2000
dtype: int64

In [8]:
# También se puede con divisiones
serie_1 * 60 / 100

0    0.6
1    1.2
2    1.8
3    2.4
4    3.0
5    3.6
6    4.2
7    4.8
8    5.4
9    6.0
dtype: float64

Podemos también aplicar funciones de manera vectorizada a una Serie de pandas. Esto quiere decir que, sin necesidad de utilizar `map` la función se aplica automáticamente a cada elemento. Vamos a utilizar una librería llamada `numpy` para probar algunas de estas funciones vectorizadas.

In [9]:
# numpy es otra librería super super super
# popular en python... significa NUMerical PYthon
# Tiene un montón de función aritmética
import numpy as np # el alias popular es np

En particular ocuparé la función potencia, que calcula operaciones del estilo $x^n$

In [10]:
# A cada elemento de la serie_1, lo elevamos al cuadrado. 
np.power(serie_1, 2)

0      1
1      4
2      9
3     16
4     25
5     36
6     49
7     64
8     81
9    100
dtype: int64

In [11]:
# otra ejemplo puede ser aplicar la raíz cuadrada a cada
# elemento de la serie
np.sqrt(serie_1)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
5    2.449490
6    2.645751
7    2.828427
8    3.000000
9    3.162278
dtype: float64

¿Ves qué fácil resulta?