## Ejemplo 4: DataFrames

### 1. Objetivos:
    - Aprender a crear `DataFrames` usando diccionarios de listas
    - Aprender a indexar `DataFrames` para obtener subconjuntos de datos
 
---
    
### 2. Desarrollo:

In [2]:
import pandas as pd

Los `DataFrames` son entonces estructuras de datos bidimensionales. Tienen filas y columnas. Hay innumerables formas de crear `DataFrames` (si quieren ahondar en el tema, [aquí hay una fuente](https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/) muy completa). Vamos a aprender una de ellas: los diccionarios de listas.

Aquí tenemos un diccionario de listas:

In [3]:
# Manera muy muy muy rudimentaria
# Capturar casi dato por dato el dataframe

datos = {
    'columna_1': ['valor_fila_0', 'valor_fila_1', 'valor_fila_2', 'valor_fila_3', 'valor_fila_4'],
    'columna_2': ['valor_fila_0', 'valor_fila_1', 'valor_fila_2', 'valor_fila_3', 'valor_fila_4'],
    'columna_3': ['valor_fila_0', 'valor_fila_1', 'valor_fila_2', 'valor_fila_3', 'valor_fila_4'],
    'columna_4': ['valor_fila_0', 'valor_fila_1', 'valor_fila_2', 'valor_fila_3', 'valor_fila_4']
}

Vamos a convertirlo en un Dataframe, aplicando la función  `DataFrame`:

In [4]:
# Creamos un objeto, llamdo df, que es un dataframe
# creado a partir del diccionario 'datos'
df = pd.DataFrame(datos)

df

      columna_1     columna_2     columna_3     columna_4
0  valor_fila_0  valor_fila_0  valor_fila_0  valor_fila_0
1  valor_fila_1  valor_fila_1  valor_fila_1  valor_fila_1
2  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2
3  valor_fila_3  valor_fila_3  valor_fila_3  valor_fila_3
4  valor_fila_4  valor_fila_4  valor_fila_4  valor_fila_4

También podemos pasarle explícitamente un índice para cambiar el índice default:

In [5]:
# cambiamos los índices agregando un argumento index
# con la lista de lo que queramos que sean los
# indices
df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

df

      columna_1     columna_2     columna_3     columna_4
a  valor_fila_0  valor_fila_0  valor_fila_0  valor_fila_0
b  valor_fila_1  valor_fila_1  valor_fila_1  valor_fila_1
c  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2
d  valor_fila_3  valor_fila_3  valor_fila_3  valor_fila_3
e  valor_fila_4  valor_fila_4  valor_fila_4  valor_fila_4

Para observar columnas individualmente, usamos el `operador de indexación`, es decir ['nombre_del_renglon], y le pasamos el nombre de la columna:

In [6]:
# si queremos acceder a lo que hay en la columna con nombre
# columna_1
df['columna_1']

a    valor_fila_0
b    valor_fila_1
c    valor_fila_2
d    valor_fila_3
e    valor_fila_4
Name: columna_1, dtype: object

La columna que obtuvimos es una `Serie` de `pandas` con una propiedad `Name`.

También podemos ver más de una columna pasando una `lista` con los nombres de las columnas que queremos en el orden que las queremos:

In [7]:
# le pasamos una lista con los nombres de las columnas
# que queremos ver
df[['columna_3', 'columna_1']]

      columna_3     columna_1
a  valor_fila_0  valor_fila_0
b  valor_fila_1  valor_fila_1
c  valor_fila_2  valor_fila_2
d  valor_fila_3  valor_fila_3
e  valor_fila_4  valor_fila_4

> **Importante**: Usamos las palabras `observar` o `ver` porque indexar columnas no regresa una copia de esas columnas, sino solamente una "vista" de esas columnas, como si estuviéramos viéndolas a través de una ventana. Eso quiere decir que los cambios que realicemos a las "vista" se verán reflejados en el `DataFrame` original.

Para indexar filas, podemos usar el operador `loc`.

Podemos pedir una sola fila:

In [8]:
df

      columna_1     columna_2     columna_3     columna_4
a  valor_fila_0  valor_fila_0  valor_fila_0  valor_fila_0
b  valor_fila_1  valor_fila_1  valor_fila_1  valor_fila_1
c  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2
d  valor_fila_3  valor_fila_3  valor_fila_3  valor_fila_3
e  valor_fila_4  valor_fila_4  valor_fila_4  valor_fila_4

In [9]:
# para ver todo lo de la fila con índice 'a'
df.loc['a']

columna_1    valor_fila_0
columna_2    valor_fila_0
columna_3    valor_fila_0
columna_4    valor_fila_0
Name: a, dtype: object

O podemos pedir varias filas:

In [10]:
# las filas con índices 'c' y 'a' (en ese orden)
df.loc[['c', 'a']]

      columna_1     columna_2     columna_3     columna_4
c  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2
a  valor_fila_0  valor_fila_0  valor_fila_0  valor_fila_0

Podemos pedir rangos también:

In [11]:
# desde el renglón con índice 'b' hasta el final
df.loc['b':]

      columna_1     columna_2     columna_3     columna_4
b  valor_fila_1  valor_fila_1  valor_fila_1  valor_fila_1
c  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2
d  valor_fila_3  valor_fila_3  valor_fila_3  valor_fila_3
e  valor_fila_4  valor_fila_4  valor_fila_4  valor_fila_4

In [12]:
# o con rangos
# desde b hasta d
df.loc['b':'d']

      columna_1     columna_2     columna_3     columna_4
b  valor_fila_1  valor_fila_1  valor_fila_1  valor_fila_1
c  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2
d  valor_fila_3  valor_fila_3  valor_fila_3  valor_fila_3

In [14]:
df['b':'d']

      columna_1     columna_2     columna_3     columna_4
b  valor_fila_1  valor_fila_1  valor_fila_1  valor_fila_1
c  valor_fila_2  valor_fila_2  valor_fila_2  valor_fila_2
d  valor_fila_3  valor_fila_3  valor_fila_3  valor_fila_3

Podemos pasarle un segundo argumento a `loc` para seleccionar solamente algunas columnas de las filas que pedimos. En este caso estamos pidiendo la columna 'columna_2' de la fila 'b', por lo que obtenemos un solo valor:

In [15]:
df.loc['b', 'columna_2'] # el sistema renglon/columa

'valor_fila_1'

También podemos pedir múltiples filas y columnas:

In [19]:
df.loc[['e', 'c', 'a'], ['columna_4', 'columna_2', 'columna_3']]
# el sistema renglon/columna

      columna_4     columna_2     columna_3
e  valor_fila_4  valor_fila_4  valor_fila_4
c  valor_fila_2  valor_fila_2  valor_fila_2
a  valor_fila_0  valor_fila_0  valor_fila_0

¡Vayamos a practicar esto en un Reto!